---

- name: Check if Monitoring Agent is installed
  stat:
    path: "/opt/stackdriver/collectd/sbin/stackdriver-collectd"
  register: stackdriver_installed

- name: Download the Monitoring Agent
  get_url:
    url: https://dl.google.com/cloudagents/install-monitoring-agent.sh
    dest: "/tmp/install-monitoring-agent.sh"
    mode: "+x"
  when: stackdriver_installed.stat.exists == False

- name: Install the Monitoring Agent
  shell: "/tmp/install-monitoring-agent.sh"
  when: stackdriver_installed.stat.exists == False

- name: Add custom config directory
  lineinfile:
    file: "/etc/stackdriver/collectd.conf"
    line: "Include \"{{ stackdriver_custom_config_directory }}\""
    state: present
  when: stackdriver_custom_config_directory != ''

- name: Install configurations
  get_url:
    url: "https://raw.githubusercontent.com/Stackdriver/stackdriver-agent-service-configs/master/etc/collectd.d/{{ item }}.conf"
    dest: "/opt/stackdriver/collectd/etc/collectd.d/"
  with_items: "{{ stackdriver_configs }}"

- name: Copy custom configuration files
  copy:
    src: "{{ item }}"
    dest: "/opt/stackdriver/collectd/etc/collectd.d/{{ item | basename }}"
    backup: yes
  with_items: "{{ stackdriver_custom_config_files }}"
  notify: restart stackdriver-agent

- name: Copy custom configuration files
  template:
    src: "{{ item }}"
    dest: "/opt/stackdriver/collectd/etc/collectd.d/{{ item | basename }}"
    backup: yes
  with_items: "{{ stackdriver_custom_config_templates }}"
  notify: restart stackdriver-agent